page-principal {

    .btnChat {
        background-size: contain;
        background-position: center;
        color: #FFFFFF;
        height: 49% !important;
    }

    .btnChat span {
        font-size: 40px;
    }
}
